@{
    ViewBag.Title = "Invoice";

}



<h2>Invoice for @ViewBag.order.Name</h2>


<div style="background-color: white">
    @Html.Raw(ViewBag.htmlString)
</div>

@Html.ActionLink("Download Invoice", "DownloadInvoice", new { id = ViewBag.orderId, domestic = ViewBag.domestic })
