@{
    ViewBag.Title = "Invoice";

}



<h2>Invoice for @ViewBag.order.Name</h2>



@Html.Raw(ViewBag.htmlString)


@Html.ActionLink("Download Invoice", "DownloadInvoice", new { id = ViewBag.orderId, domestic = ViewBag.domestic })
