
@{
    ViewBag.Title = "MakeOrderButton";
    string orderId = this.ViewData["id"].ToString();
    bool isAccepted = (bool)this.ViewData["isAccepted"];
}

@if (isAccepted)
{
    <a href="#">Realize order</a>
}
